<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>CovidIndia-Stats</title>
</head>

<body>
    <header>

        <div id="myModal" class="modal">
            <div class="modal-content">

                <div class="modal_header">
                    <h3>About</h3>
                    <span class="close">&times;</span>
                </div>
                <div class="modal_body">
                    <img class="modal_img" src="/image/dp.jpg" alt="" srcset="">
                    <h3 style="margin-bottom: 10px;">Created By: Sitabja Pal</h3>
                    {{!-- <h3>Contact</h3> --}}
                    <div class="icon_div">
                        <a target="_blank" href="sitabjapal03@gmail.com" class="fa fa-google"></a>
                        <a target="_blank" href="https://www.linkedin.com/in/sitabja-p-702019b5/" class="fa fa-linkedin"></a>
                        <a target="_blank" href="https://www.facebook.com/sitabja.pal" class="fa fa-facebook"></a>
                    </div>
                    <h3>Data Source:</h3>
                    <a target="_blank" href="https://api.covid19india.org/data.json">api.covid19india.org/data.json</a>

                </div>
            </div>
        </div>

        <div class="logo">
            <img class="brand_logo" src="/image/virus.svg" alt="" srcset="">
            <h3>CovidIndia-Stats</h3>
        </div>
        <ul id="sidebar">
            <button id="about_btn" class="nav_btn about_btn">
                <li class="nav-link"><a class="about_li" href="">About</a></li>
            </button>
            <button class="nav_btn git_btn">
                <li class="nav-link"><a target="_blank" class="git_li" href="https://github.com/palSitabja/covidIndiaStat-website">GitHub</a></li>
            </button>
        </ul>
    </header>
    <div class="details">
        <div class="confirm info_card">
            <img class="confirm_img" src="/image/confirm1.svg" alt="" srcset="">
            <h4 style="color: #1579c5;font-weight: bold;">Confirmed</h4>
            <h4 id="conf" style="color: #1579c5;"></h4>
        </div>
        <div class="recover info_card">
            <img class="confirm_img" src="/image/recovered.svg" alt="" srcset="">
            <h4 style="color: #21891D;font-weight: bold">Recovered</h4>
            <h4 id="recover" style="color: #21891D;"></h4>
        </div>
        <div class="death info_card">
            <img class="confirm_img" src="/image/death1.svg" alt="" srcset="">
            <h4 style="color: #FF0000;font-weight: bold">Deceases</h4>
            <h4 id="dec" style="color: #FF0000;"></h4>
        </div>

    </div>
    <div class="data_chart_section">
        <div class="section1">
            <div id="chart1"></div>
        </div>
        <div class="section2">
            <div id="chart2"></div>
        </div>
        <div class="section3">
            <div id="chart_death"></div>
        </div>
    </div>
    <div class="section4">
        <div id="chart_ststeWise"></div>
    </div>
    <div class="container">
        <iframe id="pageswitcher-content" frameborder="0" marginheight="0" marginwidth="0" scrolling="no"
            src="https://docs.google.com/spreadsheets/u/0/d/e/2PACX-1vR30F8lYP3jG7YOq8es0PBpJIE5yvRVZffOyaqC0GgMBN6yt0Q-NI8pxS7hd1F9dYXnowSC6zpZmW9D/pubhtml/sheet?headers=false&amp;gid=0"
            style="display: block; width: 100%; height: 800px;"></iframe>
    </div>
    <div class="footer"></div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script src="/js/app.js"></script>
    <script src="/js/modal_controller.js"></script>

</body>

</html>