<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/all.css">
    <title>CovidIndia-Stats</title>
</head>

<body>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  	  <div class="modal-dialog" role="document">
  	    <div class="modal-content">
  	      <div class="modal-header">
  	        <h5 class="modal-title" id="exampleModalLabel">About</h5>
  	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  	          <span aria-hidden="true">&times;</span>
  	        </button>
  	      </div>
  	      <div class="modal-body text-center">
            <img class="mx-auto rounded-circle shadow-lg" style="width:80px;" src="/image/dp.jpg" alt="Card image cap">
  	        <br></br><p class="shadow-lg">Created by: <b style="font-family: 'Satisfy', cursive; font-size: 20px;">Sitabja Pal</b>
  	        <h5>Contact:</h5><a href="sitabjapal03@gmail.com" target="_blank">sitabjapal03@gmail.com</a><br></br><a href="https://www.linkedin.com/in/sitabja-p-702019b5/" target="_blank">https://www.linkedin.com/in/sitabja-p-702019b5/</a><br></br>
  	        <h5>Data Source: </h5><a href="https://api.covid19india.org/data.json" target="_blank">https://api.covid19india.org/data.json</a><br></br>
  	      </div>
  	      <div class="modal-footer">
  	        <button type="button" class="btn btn-secondary shadow-lg" data-dismiss="modal">Close</button>
  	      </div>
  	    </div>
  	  </div>
  	</div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" style="font-family: monospace;font-size:x-large;">
            <img class="mr-3" src="/image/virus.webp" width="70" height="30" class="d-inline-block align-top" alt="">
            CovidIndia-Stats
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item dropdown">

                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <a href="https://github.com/palSitabja/covidIndiaStat-website" target="_blank" class="btn btn-outline-success my-2 my-sm-0 mr-2" role="button" style="color: "#F8F9FA";">GitHub</a>
                <button class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">About</button>
                <!-- Button trigger modal -->
            </div>
        </div>
    </nav>
    <div class="container" style="margin-top: 25px;">
        <div class="row">
            <div class="col-md-4">
                <div class="card border-warning shadow p-3 mb-5 bg-white rounded" style="border-width:2px;">
                    <div class="card-body" style="">
                        <h5 class="card-title th text-center font-weight-bold" style="color: #FFC107;">Total Confirmed</h5>
                        <p id="conf" class="card-text td text-center" style="color:#FFC107;"></p>
                    </div>
                </div>
            </div>
            {{!-- <div class="col-md-2">

            </div> --}}
            <div class="col-md-4">
                <div class="card border-success shadow p-3 mb-5 bg-white rounded" style="border-width:2px;">
                    <div class="card-body">
                        <h5 class="card-title th text-center font-weight-bold" style="color: #28A745;">Total Recovered</h5>
                        <p id="recover" class="card-text td text-center" style="color: #27A243;"></p>
                    </div>
                </div>
            </div>
            {{!-- <div class="col-md-2">

            </div> --}}
            <div class="col-md-4">
                <div class="card border-danger shadow p-3 mb-5 bg-white rounded" style="border-width:2px;">
                    <div class="card-body">
                        <h5 class="card-title th text-center font-weight-bold" style="color: #D53343;">Total Death</h5>
                        <p id="dec" class="card-text td text-center" style="color:#DC3545;"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container line-1" style="margin-top: 0px;">
        <div class="card card col-mb-3 shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <canvas id="line1"></canvas>
            </div>
        </div>
    </div>
    <div class="container"style="margin-top: 50px;">
        <div class="row">
            <div class="col-md-6">
                <div id="card-id" class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <canvas id="line2"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div id="card-id" class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <canvas id="line3"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 0px;">
        <div id="card-id" class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <canvas id="bar1"></canvas>
            </div>
        </div>
    </div>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="/js/app.js"></script>
</body>