<div style="margin-top: 7vh; margin-bottom: 6vh;" class="container d-flex justify-content-center mb-3">
  <div class="row input-container">
    <i class="fas fa-search icon"></i>
    <input class="form-control" placeholder="Enter state for more info" list="states" name="state"
      id="state" [(ngModel)]="stateValue" (change)="getStateData($event)">
  </div>
  <datalist id="states">
    <option *ngFor="let state of statewise" [value]="state.state">
  </datalist>
</div>
<div style="margin-top: 7vh;" *ngIf="stateValue" class="container-fluid">
  <!-- removed -->
  <app-selected-state
  [active]="active" [confirmed]="confirmed" [deaths]="deaths" [recovered]="recovered"
  [delConfirmed]="delConfirmed" [delDeaths]="delDeaths" [delRecovered]="delRecovered"
  [lastUpdate]="lastUpdate" [stateCode]="stateCode" [dailyconfirmed]="dailyconfirmed"
  [dailydeceased]="dailydeceased" [dailyrecovered]="dailyrecovered"
  >
  </app-selected-state>
</div>
<div style="margin-top: 7vh;" class="container">
  <mat-card>
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke"
      [fill]="chartOptions.fill" [yaxis]="chartOptions.yaxis" [title]="chartOptions.title"
      [tooltip]="chartOptions.tooltip" [legend]="chartOptions.legend" [grid]="chartOptions.grid" [colors]="color1">
    </apx-chart>
  </mat-card>
  <div style="height: 10vh;" class="row"></div>
</div>