canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#card-id{
    height: 500px;
}
/* .card{
    box-shadow: black;
} */

.card-deck{
    padding: 40px 60px 40px 60px;
  }
.th{
    font-size:x-large;
    font-weight: bolder;
    font-family: monospace;
}
.td{
    font-size: xx-large;
    font-weight: bolder;
    font-family: monospace;
}
.cont{
    border-width: 3px;
    border-color: blueviolet;
}
.line1{
    margin-top: 100px;
}

 /* .div-conf{
    box-shadow: 5px 10px #888888;
}
.div-rec{
    box-shadow: 5px 10px #888888;
}
.div-dec{
    box-shadow: 5px 10px #888888;
}  */
.h6-1{
    color: #FFC107;
    font-family: monospace;
    font-weight: bolder;
    font-size: large;
}
.h6-2{
    color: #28A745;
    font-family: monospace;
    font-weight: bolder;
    font-size: large;
}
.h6-3{
    color: #D53343;
    font-family: monospace;
    font-weight: bolder;
    font-size: large;
}
.p-update{
    font-weight: bolder;
    font-family:cursive
}
.chart-container{
    height: 215px;
}
.bar-container{
    height:350px;
}
.line-color-1{
    background-color: #FFFEF2;
}
.line-color-2{
    background-color: #FFF2F2;
    
}
.line-color-3{
    background-color: #F2FFFD;

}
.bar-color-1{
    background-color: #F2FFFF;
}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.footer-icon{
    margin-top: 30px;
    margin-left: 10px;
    
}