<div class="container-fluid" style="margin-top: 3vh;margin-bottom: 4vh;">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="row title" style="padding-left: 20px;">
        <mat-icon style="color: white;margin-top: 3px;transform: scale(1.5);">coronavirus</mat-icon>
        <a  class=" ml-2 ml-sm-2" href="#">
          <h1 style="font-family: 'poppins',cursive;font-weight: bolder;font-size: x-large;color: white;">CovidIndia-Stats</h1>
          <!-- <span style="text-decoration: none;color: white;font-family: 'poppins', cursive;font-weight: bolder;font-size: x-large;height: 1vh;">CovidIndia </span>
          <span class="" style="background-color: white; color: #3E50B3;font-family: 'poppins',cursive;font-weight: bolder;font-size: x-large;height: 5vh;">Stats</span> -->
        </a>
      </div>
    </div> 
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="row d-flex button-row">
        <!-- <button mat-stroked-button color="primary" style="color: white;border: 1px solid white;" class="example-icon mr-2" aria-label="Example icon-button with menu icon">
          <a [routerLink]='["/home"]' style="text-decoration: none;color: white">Home</a>
        </button> -->
        <button mat-stroked-button color="primary" style="color: white;border: 1px solid white;" class="example-icon mr-2" aria-label="Example icon-button with menu icon">
          <a [routerLink]='["/state"]' style="text-decoration: none;color: white">Statewise</a>
        </button>
        <button mat-stroked-button color="primary" style="color: white;border: 1px solid white;" class="example-icon mr-2" aria-label="Example icon-button with menu icon">
          <a [routerLink]='["/vaccination"]' style="text-decoration: none;color: white">Vaccination</a>
        </button>
        <button mat-stroked-button color="primary" style="color: white;border: 1px solid white;" class="example-icon" aria-label="Example icon-button with menu icon">
          <a href="https://github.com/palSitabja/covidIndiaStat-website" style="text-decoration: none;color: white" target="_blank">GitHub</a>
        </button>
      </div>
    </div> 
  </div>
</div>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

