.blue{
    color:#2196f3 ;
    font-weight: bolder;
}
.red{
    color: #DA3442;
    font-weight: bolder;
}
.green{
    color: #26A544;
    font-weight: bolder;
}
.yellow{
    color: #FCC006;
    font-weight: bolder;
}