<div style="margin-bottom: 6vh;" class="container d-flex justify-content-center">
    
    <a class="btn btn-dark" href="https://selfregistration.cowin.gov.in/" target="_blank"><i class="fas fa-hand-pointer mr-2"></i>Register for vaccination</a>
</div>
<div class="container-fluid">
    <mat-card class="w-100 card-container mb-5">
        <div class="row mt-2">
            <div class="col-12">
                <h3 style="font-family: 'poppins',cursive;font-weight: bolder; color: #268FFF;">Dose 1 Vaccinated </h3>
                <div class="progress mb-2" style="height: 4vh;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"  [style.width]="dose1Percent">{{dose1Percent}}</div>
                  </div>
                  <h3 style="font-family: 'poppins',cursive;font-weight: bolder;color: #268FFF;">Dose 2 Vaccinated </h3>
                  <div class="progress mt-2" style="height: 4vh;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 4vh;" [style.width]="dose2Percent">{{dose2Percent}}</div>
                  </div>
            </div>
        </div>
    </mat-card>


<mat-card class="w-100 card-container">
    <div class="row mt-2">
        <div class="col-12">

            <apx-chart [series]="chartDose1.series" [chart]="chartDose1.chart"
                [xaxis]="chartDose1.xaxis" [yaxis]="chartDose1.yaxis" [title]="chartDose1.title"
                [grid]="chartDose1.grid" [dataLabels]="chartDose1.dataLabels"
                [stroke]="chartDose1.stroke" [colors]=""></apx-chart>

        </div>
    </div>
</mat-card>
<div class="row" style="height: 8vh;"></div>
<mat-card class="w-100 card-container mb-5">
    <div class="row mt-2">
        <div class="col-12">

            <apx-chart [series]="chartDose2.series" [chart]="chartDose2.chart"
                [xaxis]="chartDose2.xaxis" [yaxis]="chartDose2.yaxis" [title]="chartDose2.title"
                [grid]="chartDose2.grid" [dataLabels]="chartDose2.dataLabels"
                [stroke]="chartDose2.stroke" [colors]="" [fill]="chartDose2.fill"></apx-chart>

        </div>
    </div>
</mat-card>
</div>